# Setting up environment and Loading data from json file into dataframe

In [1]:
# To run this file, you need to have Spark installed.
# Initializing SparkSession
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark SQL basic example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

In [ ]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [2]:
# Load the data
df_lighter_books = spark.read.json("lighter_books.json")
df_lighter_authors = spark.read.json("lighter_authors.json")

# EDA

In [5]:
# Print the schema of the dataframe
df_lighter_books.printSchema()

root
 |-- asin: string (nullable = true)
 |-- author_id: long (nullable = true)
 |-- author_name: string (nullable = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- average_rating: double (nullable = true)
 |-- description: string (nullable = true)
 |-- edition_information: string (nullable = true)
 |-- format: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- language: string (nullable = true)
 |-- num_pages: long (nullable = true)
 |-- original_publication_date: string (nullable = true)
 |-- publication_date: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- rating_dist: string (nullable = true)
 |-- ratings_count: long (nullable = true)
 |-- series_id: string (nullable = true)
 |-- series_name: string (nullable = true)
 |-- series_position: string (nullable = true)
 |-- shelves: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- count: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- text_reviews_count: long (nullable = true)
 |-- title: string (nullable = true)
 |-- work_id: long (nullable = true)

In [6]:
# Print the schema of the dataframe
df_lighter_authors.printSchema()

root
 |-- about: string (nullable = true)
 |-- average_rating: double (nullable = true)
 |-- book_ids: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- fans_count: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ratings_count: long (nullable = true)
 |-- text_reviews_count: long (nullable = true)
 |-- work_ids: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- works_count: long (nullable = true)

In [9]:
# summary statistics of the dataframe
df_lighter_books.describe().show()

+-------+--------+------------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+-----------------+-----------------------------------+-----------------+------------------+-------+--------------------+
|summary|    asin|         author_id|        author_name|    average_rating|         description| edition_information|            format|                  id|           image_url|    isbn|              isbn13|language|         num_pages|original_publication_date|  publication_date|             publisher|         rating_dist|     ratings_count|        series_id|                        series_name|  series_position|text_reviews_count|  title|             work_id|
+-------+--------+------------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+-----------------+-----------------------------------+-----------------+------------------+-------+--------------------+
|  count| 7027431|           7027431|            7027431|           7027431|             7027431|             7027431|           7027431|             7027431|             7027431| 7027431|             7027431| 7027431|           3955596|                  7027431|           7027431|               7027431|             7027431|           7027431|          7027431|                            7027431|          7027431|           7027431|7027431|             7027431|
|   mean|Infinity| 1977792.752914116|               19.0| 3.306187915612408|8.043967999713328E11|4.242511332418796...|189.16666666666666|1.3267196411323996E7|                NULL|Infinity|9.554914350702076E12|    NULL|3049.8654913191335|       1908.9786988621665|1993.1070724310548|              Infinity|                NULL|19458.609666035853| 99101.0692560757|                           Infinity|9.504727572188992| 641.7257807298286|    NaN|1.3985330931168588E7|
| stddev|     NaN|3210660.4887492205|                0.0|1.4357340879502622|2.711230852241999E12|1.802437181368137...|187.87380516364345|   7637921.804473934|                NULL|     NaN|1.250444134173931...|    NULL| 2327716.909103579|        304.3699345679781|347.81366636795593|                   NaN|                NULL| 160900.7621571502|64722.70308914834|                                NaN|795.3536595467195| 4169.806199983704|    NaN|1.5356372000695132E7|
|    min|        |                 4|"Big" John McCarthy|               0.0|                    |                    |                  |                   2|https://i.gr-asse...|        |                    |        |                 0|                         |                  |                      |5:-1|4:1|3:1|2:0|...|                 0|                 |                                   |                 |                 0|       |                  62|
|    max|   حورات|          21248016|         Ｔｏｓｈｌ|               5.0|����������Theodor...|                  １|                －|            25521017|https://s.gr-asse...|   ۹۶۴۳۱|               ‏‫‭‭9|     zun|        2147483647|               9999-01-01|        9999-01-01|ＰＨＰ研究所 (PHP新書)|5:9|4:9|3:9|2:8|1...|           7400639|            99999|ＹＡＳＨＡ―夜叉―（小学館文庫全6巻）|               １|            174524|��قديشة|            89721607|
+-------+--------+------------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+-----------------+-----------------------------------+-----------------+------------------+-------+--------------------+

In [10]:
# summary statistics of the dataframe
df_lighter_authors.describe().show()

+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+
|summary|               about|    average_rating|        fans_count|   gender|                id|           image_url|               name|    ratings_count|text_reviews_count|       works_count|
+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+
|  count|              351767|            351767|            351767|   351767|            351767|              351767|             351767|           351767|            351767|            351767|
|   mean|   1752.326923076923| 3.651194313281242|111.61573143586521|     NULL|7751861.1911975825|                NULL|           Infinity|4770.586308550831| 330.9932426862099|25.937137366495435|
| stddev|   437.4607532493448|1.2114816423862007| 2661.018138865955|     NULL| 6578409.001586667|                NULL|                NaN|97693.95378788888|3857.5391911629276|3066.0828516236857|
|    min|\t\t\t\t\t\t\t\t(...|             -31.0|               -33|         |                 4|https://images.gr...|"Big" John McCarthy|              -41|                 0|                 0|
|    max|🥀 Sign up for Ka...|               5.0|            766035|wizardess|          21248016|https://s.gr-asse...|         Ｔｏｓｈｌ|         27003752|            608956|           1775176|
+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+

In [14]:
# columns of the dataframe
df_lighter_books.columns

['asin',
 'author_id',
 'author_name',
 'authors',
 'average_rating',
 'description',
 'edition_information',
 'format',
 'id',
 'image_url',
 'isbn',
 'isbn13',
 'language',
 'num_pages',
 'original_publication_date',
 'publication_date',
 'publisher',
 'rating_dist',
 'ratings_count',
 'series_id',
 'series_name',
 'series_position',
 'shelves',
 'text_reviews_count',
 'title',
 'work_id']

In [15]:
# columns of the dataframe
df_lighter_authors.columns

['about',
 'average_rating',
 'book_ids',
 'fans_count',
 'gender',
 'id',
 'image_url',
 'name',
 'ratings_count',
 'text_reviews_count',
 'work_ids',
 'works_count']

##### For running SQL Queries Programmatically, alternatively you can run Queries using "__from pyspark.sql import functions as F__"

In [16]:
# Registering DataFrames as Views
df_lighter_books.createOrReplaceTempView("lighter_books")

In [17]:
# Registering DataFrames as Views
df_lighter_authors.createOrReplaceTempView("lighter_authors")

Now that we have loaded the data into pyspark dataframe, we can start exploring the data.
Explore the data using pyspark queries and then convert the resultant pyspark dataframe into pandas dataframe for data visualization.