# Setting up environment and Loading data from json file into dataframe

In [1]:
# Finally, setup our Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [2]:
spark

In [3]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
from pyspark.sql.functions import *
from pyspark.sql.functions import col, trim, length, to_date, year, month
from pyspark.sql import functions as F

In [77]:
# Load the data
df_lighter_books = spark.read.json("lighter_books.json")
df_lighter_authors = spark.read.json("lighter_authors.json")

## General Data Cleaning/Preprocessing

In [78]:
# Drop the duplicates
df_lighter_books = df_lighter_books.dropDuplicates()
df_lighter_authors = df_lighter_authors.dropDuplicates()

# [RQ1] General Exploratory Data Analysis (EDA)

In [79]:
# Print the schema of the dataframe
df_lighter_books.printSchema()

root
 |-- asin: string (nullable = true)
 |-- author_id: long (nullable = true)
 |-- author_name: string (nullable = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- average_rating: double (nullable = true)
 |-- description: string (nullable = true)
 |-- edition_information: string (nullable = true)
 |-- format: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- language: string (nullable = true)
 |-- num_pages: long (nullable = true)
 |-- original_publication_date: string (nullable = true)
 |-- publication_date: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- rating_dist: string (nullable = true)
 |-- ratings_count: long (nullable = true)
 |-- series_id: string (nullable = true)
 |-- series_name: string (nullable = true)
 |-- series_position: string (nullable = true)
 |-- shelves: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- count: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- text_reviews_count: long (nullable = true)
 |-- title: string (nullable = true)
 |-- work_id: long (nullable = true)

In [80]:
# Print the schema of the dataframe
df_lighter_authors.printSchema()

root
 |-- about: string (nullable = true)
 |-- average_rating: double (nullable = true)
 |-- book_ids: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- fans_count: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ratings_count: long (nullable = true)
 |-- text_reviews_count: long (nullable = true)
 |-- work_ids: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- works_count: long (nullable = true)

In [81]:
# Print the first 5 rows of the dataframe
df_lighter_books.show(5)

+----+---------+---------------+--------------------+--------------+--------------------+-------------------+---------+-----+--------------------+----------+-------------+--------+---------+-------------------------+----------------+-----------------+--------------------+-------------+---------+-----------+---------------+---------------+------------------+--------------------+-------+
|asin|author_id|    author_name|             authors|average_rating|         description|edition_information|   format|   id|           image_url|      isbn|       isbn13|language|num_pages|original_publication_date|publication_date|        publisher|         rating_dist|ratings_count|series_id|series_name|series_position|        shelves|text_reviews_count|               title|work_id|
+----+---------+---------------+--------------------+--------------+--------------------+-------------------+---------+-----+--------------------+----------+-------------+--------+---------+-------------------------+----------------+-----------------+--------------------+-------------+---------+-----------+---------------+---------------+------------------+--------------------+-------+
|    |    26929|    Evelyn Bond|                NULL|           0.0|                    |                   |         |48031|https://i.gr-asse...|0425018814|             |        |     NULL|                     1970|                |                 |5:0|4:0|3:0|2:0|1...|            0|         |           |               | [{7, to-read}]|                 0|    Thirteen O'clock|  47004|
|    |    20246|     Anne Sebba|[{20246, Anne Seb...|           0.0|A biography of th...|                   |Hardcover|35720|https://s.gr-asse...|0531046036|9780531046036|        |       46|                  1983-09|      1983-12-01|  J. MacRae Books|5:0|4:0|3:0|2:0|1...|            0|         |           |               | [{7, to-read}]|                 0|      Margot Fonteyn|  35653|
|    |     5310|    Lois Lenski|                NULL|           0.0|Lois Lenski and C...|                   |Paperback|42475|https://s.gr-asse...|083613396X|9780836133967|        |       16|                     1985|      1985-08-01|Herald Press (VA)|5:0|4:0|3:0|2:0|1...|            0|         |           |               | [{7, to-read}]|                 0|      Sing For Peace|  41958|
|    |    33467|Jonathan Stroud|                NULL|           0.0|                    |                   |         | 2580|https://s.gr-asse...|0744529646|9780744529647|        |     NULL|               2000-01-03|                |                 |5:0|4:0|3:0|2:0|1...|            0|         |           |               |[{17, to-read}]|                 0|Little Spike And ...|   6546|
|    |     6483|Harriet Ziefert|[{6483, Harriet Z...|           2.6|Eye-catching art ...|                   |Paperback|35939|https://s.gr-asse...|0689819951|9780689819957|        |       16|               1998-10-01|      1998-10-01|     Little Simon|5:0|4:0|3:3|2:2|1...|            5|         |           |               | [{2, to-read}]|                 0|The Funny Red Chr...|  35860|
+----+---------+---------------+--------------------+--------------+--------------------+-------------------+---------+-----+--------------------+----------+-------------+--------+---------+-------------------------+----------------+-----------------+--------------------+-------------+---------+-----------+---------------+---------------+------------------+--------------------+-------+
only showing top 5 rows

In [82]:
# Print the first 5 rows of the dataframe
df_lighter_authors.show(5)

+--------------------+--------------+--------------------+----------+------+--------+--------------------+--------------------+-------------+------------------+--------------------+-----------+
|               about|average_rating|            book_ids|fans_count|gender|      id|           image_url|                name|ratings_count|text_reviews_count|            work_ids|works_count|
+--------------------+--------------+--------------------+----------+------+--------+--------------------+--------------------+-------------+------------------+--------------------+-----------+
|<i>Librarian Note...|          2.39|[37639181, 351301...|         1|      |16850813|https://s.gr-asse...|          Adil Aijaz|           18|                 2|[59226555, 564512...|          4|
|American ambassad...|          3.06|[290618, 735481, ...|         0|  male|   84378|https://s.gr-asse...|Thomas Patrick Me...|           18|                 5|[281951, 721665, ...|          9|
|Robert Mailer And...|          3.28|[54461, 53113691,...|         4|  male|   30765|https://s.gr-asse...|Robert Mailer And...|          472|                81|[53102, 73635129,...|          6|
|Abdellah Hammoudi...|          3.32|[196298, 13151761...|        18|      |  114384|https://images.gr...|   Abdellah Hammoudi|          130|                16|[189855, 18329820...|          9|
|<p>About the Auth...|          3.33|[19144553, 212808...|         1|  male|   65107|https://s.gr-asse...|    Josue Raul Conte|            3|                 1|[1909420, 4060065...|          5|
+--------------------+--------------+--------------------+----------+------+--------+--------------------+--------------------+-------------+------------------+--------------------+-----------+
only showing top 5 rows

In [83]:
# Print the head of dataframe
df_lighter_books.head()

Row(asin='', author_id=1077326, author_name='J.K. Rowling', authors=[Row(id='1077326', name='J.K. Rowling', role=''), Row(id='2927', name='Mary GrandPré', role='Illustrator')], average_rating=4.5, description='There is a door at the end of a silent corridor. And it’s haunting Harry Pottter’s dreams. Why else would he be waking in the middle of the night, screaming in terror?<br /><br />Harry has a lot on his mind for this, his fifth year at Hogwarts: a Defense Against the Dark Arts teacher with a personality like poisoned honey; a big surprise on the Gryffindor Quidditch team; and the looming terror of the Ordinary Wizarding Level exams. But all these things pale next to the growing threat of He-Who-Must-Not-Be-Named - a threat that neither the magical government nor the authorities at Hogwarts can stop.<br /><br />As the grasp of darkness tightens, Harry must discover the true depth and strength of his friends, the importance of boundless loyalty, and the shocking price of unbearable sacrifice.<br /><br />His fate depends on them all.', edition_information='US Edition', format='Paperback', id=2, image_url='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546910265l/2._SX98_.jpg', isbn='0439358078', isbn13='9780439358071', language='eng', num_pages=870, original_publication_date='2003-06-21', publication_date='2004-09', publisher='Scholastic Inc.', rating_dist='5:1674064|4:664833|3:231195|2:41699|1:16215|total:2628006', ratings_count=2628006, series_id='45175', series_name='Harry Potter', series_position='5', shelves=[Row(count=324191, name='to-read'), Row(count=52675, name='currently-reading'), Row(count=48251, name='fantasy'), Row(count=38332, name='favorites'), Row(count=15837, name='young-adult'), Row(count=13971, name='fiction'), Row(count=9798, name='harry-potter'), Row(count=8230, name='books-i-own'), Row(count=7664, name='owned'), Row(count=5790, name='ya'), Row(count=4859, name='series'), Row(count=4359, name='favourites'), Row(count=3985, name='magic'), Row(count=2955, name='childrens'), Row(count=2396, name='re-read'), Row(count=2277, name='owned-books'), Row(count=2097, name='adventure'), Row(count=1910, name='audiobook'), Row(count=1901, name='children'), Row(count=1792, name='audiobooks'), Row(count=1760, name='middle-grade'), Row(count=1578, name='childhood'), Row(count=1540, name='j-k-rowling'), Row(count=1405, name='my-books'), Row(count=1372, name='classics'), Row(count=1341, name='reread'), Row(count=1340, name='children-s'), Row(count=1298, name='sci-fi-fantasy'), Row(count=1288, name='all-time-favorites'), Row(count=1213, name='5-stars'), Row(count=1195, name='default'), Row(count=1156, name='fantasy'), Row(count=1084, name='my-library'), Row(count=1030, name='novels'), Row(count=982, name='ya-fantasy'), Row(count=964, name='children-s-books'), Row(count=936, name='favorite-books'), Row(count=932, name='kids'), Row(count=926, name='i-own'), Row(count=908, name='fantasy-sci-fi'), Row(count=859, name='favorite'), Row(count=850, name='audio'), Row(count=774, name='library'), Row(count=771, name='english'), Row(count=740, name='read-more-than-once'), Row(count=739, name='urban-fantasy'), Row(count=738, name='paranormal'), Row(count=728, name='books'), Row(count=695, name='re-reads'), Row(count=685, name='witches'), Row(count=672, name='teen'), Row(count=632, name='british'), Row(count=631, name='jk-rowling'), Row(count=588, name='bookshelf'), Row(count=587, name='ya-fiction'), Row(count=578, name='novel'), Row(count=562, name='mystery'), Row(count=557, name='my-bookshelf'), Row(count=556, name='kindle'), Row(count=550, name='childrens-books'), Row(count=541, name='read-in-2017'), Row(count=538, name='harry-potter-series'), Row(count=536, name='read-in-2020'), Row(count=534, name='on-my-shelf'), Row(count=520, name='read-in-2016'), Row(count=517, name='own-it'), Row(count=515, name='faves'), Row(count=509, name='rereads'), Row(count=502, name='my-favorites'), Row(count=501, name='supernatural'), Row(count=493, name='read-in-2019'), Row(count=488, name='read-in-2018'), Row(count=475, name='audible'), Row(count=474, name='childhood-favorites'), Row(count=466, name='audio-books'), Row(count=464, name='young-adult-fiction'), Row(count=455, name='scifi-fantasy'), Row(count=446, name='ebook'), Row(count=444, name='fantasia'), Row(count=438, name='youth'), Row(count=428, name='coming-of-age'), Row(count=422, name='5-star'), Row(count=419, name='favorite-series'), Row(count=418, name='favourite'), Row(count=413, name='all-time-favourites'), Row(count=412, name='hp'), Row(count=406, name='wizards'), Row(count=404, name='favs'), Row(count=404, name='childhood-books'), Row(count=401, name='kids-books'), Row(count=390, name='made-me-cry'), Row(count=387, name='tbr'), Row(count=387, name='kindle-unlimited'), Row(count=382, name='juvenile'), Row(count=379, name='read-in-2015'), Row(count=375, name='have'), Row(count=370, name='read-in-english'), Row(count=363, name='fantasy-scifi'), Row(count=361, name='read-2020'), Row(count=360, name='favoritos')], text_reviews_count=44716, title='Harry Potter and the Order of the Phoenix (Harry Potter, #5)', work_id=2809203)

In [84]:
# Print the head of dataframe
df_lighter_authors.head()

Row(about='Douglas Noël Adams was an English author, comic radio dramatist, and musician. He is best known as the author of the <i>\n  <a href="https://www.goodreads.com/book/show/11.Hitchhiker_s_Guide_to_the_Galaxy" title="Hitchhiker\'s Guide to the Galaxy" rel="nofollow noopener">Hitchhiker\'s Guide to the Galaxy</a>\n</i> series. Hitchhiker\'s began on radio, and developed into a "trilogy" of five books (which sold more than fifteen million copies during his lifetime) as well as a television series, a comic book series, a computer game, and a feature film that was completed after Adams\' death. The series has also been adapted for live theatre using various scripts; the earliest such productions used material newly written by Adams. He was known to some fans as Bop Ad (after his illegible signature), or by his initials "DNA".<br /><br />In addition to <i>The Hitchhiker\'s Guide to the Galaxy</i>, Douglas Adams wrote or co-wrote three stories of the science fiction television series Doctor Who and served as Script Editor during the seventeenth season. His other written works include the Dirk Gently novels, and he co-wrote two Liff books and <i>Last Chance to See</i>, itself based on a radio series. Adams also originated the idea for the computer game <i>Starship Titanic</i>, which was produced by a company that Adams co-founded, and adapted into a novel by Terry Jones. A posthumous collection of essays and other material, including an incomplete novel, was published as <i>\n  <a href="https://www.goodreads.com/book/show/359.The_Salmon_of_Doubt" title="The Salmon of Doubt" rel="nofollow noopener">The Salmon of Doubt</a>\n</i> in 2002.<br /><br />His fans and friends also knew Adams as an environmental activist and a lover of fast cars, cameras, the Macintosh computer, and other "techno gizmos". <br /><br />Toward the end of his life he was a sought-after lecturer on topics including technology and the environment.', average_rating=4.19, book_ids=['386162', '13', '8695', '8694', '6091075', '365', '569429', '357', '841628', '359', '15847717', '8696', '372299', '286041', '2322', '64123', '64119', '140422', '613099', '24329428', '6125323', '834762', '17', '1473012', '40035657', '8710', '959558', '13400961', '11360254', '33340', '8700', '40098160', '2757814', '556764', '36580924', '1087665', '36563593', '29413454', '1470843', '25196594', '18693437', '1087667', '25673887', '49124942', '52321401', '50247917', '25282768', '53349920', '50183174', '17837864', '41087292', '44424120', '15784372', '42926670', '45861752', '50516841', '55508335', '8414378', '53620925', '49798136', '35213093', '26063410', '23703526', '531808', '841643', '36556703', '23703562', '42433453', '31324024', '7018423', '27473851', '2675665', '31324026', '52028692', '49216301', '4325988', '8414379', '55218693', '54543457', '56278383', '40047752', '51268098', '55366903', '56647909', '57116478', '57005209', '56647910', '56477373', '56757155', '56250959', '31549843', '27473852', '10083696', '23703536', '1981057', '140423', '31324025', '23703540', '1483382', '1857937', '42858621', '36258878', '50241753', '52567301', '56494504', '37648110'], fans_count=19826, gender='male', id=4, image_url='https://images.gr-assets.com/authors/1591374335p5/4.jpg', name='Douglas Adams', ratings_count=2862064, text_reviews_count=62681, work_ids=['3078186', '135328', '1877624', '74123', '3078120', '1042123', '2842984', '1096', '13319085', '809325', '21592731', '525730', '42028477', '2411150', '1120220', '12932638', '17046408', '3373660', '21398624', '19252167', '21901728', '21901733', '69899216', '17243229', '62023732', '18207351', '6164074', '18632703', '16290317', '6247866', '18965746', '62152547', '6752452', '543954', '58325286', '1074445', '58301594', '49669987', '41794198', '44907496', '83585581', '1074447', '76149487', '74577096', '77506039', '75157530', '45009115', '82166255', '71522058', '24960665', '64196390', '68979697', '41360000', '66707321', '70674683', '75492555', '86557069', '13346164', '83944374', '74921747', '49782515', '2070480', '67379746', '6164033', '43676732', '77020392', '43312804', '55074514', '51995759', '7264648', '47518641', '67382803', '51995761', '86117329', '74672304', '18207213', '13276248', '86091882', '85103895', '87677810', '86751817', '75989274', '86348313', '88518420', '89386842', '89192468', '88518421', '88118268', '88704798', '87627162', '52229115', '47518642', '14980533', '43312782', '60857511', '67381566', '51995760', '43312786', '1474531', '1858558', '66634320', '57910340', '75145873', '78214735', '88160958', '59238921'], works_count=106)

In [85]:
# summary statistics of the dataframe
df_lighter_books.describe().show()

+-------+--------+-----------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+----------------+-----------------------------------+-----------------+------------------+-------+--------------------+
|summary|    asin|        author_id|        author_name|    average_rating|         description| edition_information|            format|                  id|           image_url|    isbn|              isbn13|language|         num_pages|original_publication_date|  publication_date|             publisher|         rating_dist|     ratings_count|       series_id|                        series_name|  series_position|text_reviews_count|  title|             work_id|
+-------+--------+-----------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+----------------+-----------------------------------+-----------------+------------------+-------+--------------------+
|  count| 7027431|          7027431|            7027431|           7027431|             7027431|             7027431|           7027431|             7027431|             7027431| 7027431|             7027431| 7027431|           3955596|                  7027431|           7027431|               7027431|             7027431|           7027431|         7027431|                            7027431|          7027431|           7027431|7027431|             7027431|
|   mean|Infinity|1977792.752914116|               19.0|3.3061879156123712|8.043967999713328E11|4.242511332418796...|189.16666666666666|1.3267196411323996E7|                NULL|Infinity| 9.55491435070208E12|    NULL|3049.8654913191335|       1908.9786988621665|1993.1070724310548|              Infinity|                NULL|19458.609666035853|99101.0692560757|                           Infinity|9.504727572188981| 641.7257807298286|    NaN|1.3985330931168588E7|
| stddev|     NaN|3210660.488749222|                0.0|1.4357340879502614|2.711230852241999E12|1.802437181368138E13|187.87380516364345|   7637921.804473941|                NULL|     NaN|1.250444134173930...|    NULL|2327716.9091035784|        304.3699345679779|347.81366636795553|                   NaN|                NULL| 160900.7621571502|64722.7030891483|                                NaN|795.3536595467177| 4169.806199983708|    NaN|1.5356372000695122E7|
|    min|        |                4|"Big" John McCarthy|               0.0|                    |                    |                  |                   2|https://i.gr-asse...|        |                    |        |                 0|                         |                  |                      |5:-1|4:1|3:1|2:0|...|                 0|                |                                   |                 |                 0|       |                  62|
|    max|   حورات|         21248016|         Ｔｏｓｈｌ|               5.0|����������Theodor...|                  １|                －|            25521017|https://s.gr-asse...|   ۹۶۴۳۱|               ‏‫‭‭9|     zun|        2147483647|               9999-01-01|        9999-01-01|ＰＨＰ研究所 (PHP新書)|5:9|4:9|3:9|2:8|1...|           7400639|           99999|ＹＡＳＨＡ―夜叉―（小学館文庫全6巻）|               １|            174524|��قديشة|            89721607|
+-------+--------+-----------------+-------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------+--------------------+--------+------------------+-------------------------+------------------+----------------------+--------------------+------------------+----------------+-----------------------------------+-----------------+------------------+-------+--------------------+

In [86]:
# summary statistics of the dataframe
df_lighter_authors.describe().show()

+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+
|summary|               about|    average_rating|        fans_count|   gender|                id|           image_url|               name|    ratings_count|text_reviews_count|       works_count|
+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+
|  count|              351767|            351767|            351767|   351767|            351767|              351767|             351767|           351767|            351767|            351767|
|   mean|   1752.326923076923|3.6511943132812488|111.61573143586521|     NULL|7751861.1911975825|                NULL|           Infinity|4770.586308550831| 330.9932426862099|25.937137366495435|
| stddev|  437.46075324934486|1.2114816423862007|2661.0181388659653|     NULL| 6578409.001586656|                NULL|                NaN|97693.95378788895|3857.5391911629226|3066.0828516236847|
|    min|\t\t\t\t\t\t\t\t(...|             -31.0|               -33|         |                 4|https://images.gr...|"Big" John McCarthy|              -41|                 0|                 0|
|    max|🥀 Sign up for Ka...|               5.0|            766035|wizardess|          21248016|https://s.gr-asse...|         Ｔｏｓｈｌ|         27003752|            608956|           1775176|
+-------+--------------------+------------------+------------------+---------+------------------+--------------------+-------------------+-----------------+------------------+------------------+

In [87]:
# columns of the dataframe
df_lighter_books.columns

['asin',
 'author_id',
 'author_name',
 'authors',
 'average_rating',
 'description',
 'edition_information',
 'format',
 'id',
 'image_url',
 'isbn',
 'isbn13',
 'language',
 'num_pages',
 'original_publication_date',
 'publication_date',
 'publisher',
 'rating_dist',
 'ratings_count',
 'series_id',
 'series_name',
 'series_position',
 'shelves',
 'text_reviews_count',
 'title',
 'work_id']

In [88]:
# columns of the dataframe
df_lighter_authors.columns

['about',
 'average_rating',
 'book_ids',
 'fans_count',
 'gender',
 'id',
 'image_url',
 'name',
 'ratings_count',
 'text_reviews_count',
 'work_ids',
 'works_count']

In [89]:
# Count the number of rows in the dataframe
df_lighter_books.count()

7027431

In [90]:
# Count the number of rows in the dataframe
df_lighter_authors.count()

351767

In [91]:
# Count the number of distinct rows in the dataframe
df_lighter_books.distinct().count()

7027431

In [92]:
# Count the number of distinct rows in the dataframe
df_lighter_authors.distinct().count()

351767

# [RQ2]

# [RQ3]

In [5]:
# Print the schema of the dataframe
df_lighter_books.printSchema()

root
 |-- asin: string (nullable = true)
 |-- author_id: long (nullable = true)
 |-- author_name: string (nullable = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- average_rating: double (nullable = true)
 |-- description: string (nullable = true)
 |-- edition_information: string (nullable = true)
 |-- format: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- language: string (nullable = true)
 |-- num_pages: long (nullable = true)
 |-- original_publication_date: string (nullable = true)
 |-- publication_date: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- rating_dist: string (nullable = true)
 |-- ratings_count: long (nullable = true)
 |-- series_id: string (nullable = true)
 |-- series_name: string (nullable = true)
 |-- series_position: string (nullable = true)
 |-- shelves: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- count: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- text_reviews_count: long (nullable = true)
 |-- title: string (nullable = true)
 |-- work_id: long (nullable = true)

## Data Cleaning/Preprocessing

In [6]:
df_lighter_books = df_lighter_books.filter(trim(col('original_publication_date')) != '') # removes rows with empty original_publication_date
df_lighter_books = df_lighter_books.filter(trim(col('num_pages')) != '') # removes rows with empty num_pages
df_lighter_books = df_lighter_books.filter(trim(col('title')) != '') # removes rows with empty title

In [7]:
df_lighter_books = df_lighter_books.dropna(subset=['original_publication_date', 'num_pages','title']) # removes rows with null values in original_publication_date, num_pages, and title

In [8]:
# Define the regular expression for date
date_regex = r"^(19\d\d|200[0-2]|20(0[3-9]|1\d|2[0-3]))-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$"

# Validate the original_publication_date column
df_lighter_books = df_lighter_books.withColumn(
    "is_valid_date",
    F.when(F.col("original_publication_date").rlike(date_regex), True).otherwise(False)
)

# Filter the DataFrame to keep only rows with valid dates
df_lighter_books = df_lighter_books.filter(F.col("is_valid_date") == True)

# Drop the is_valid_date column
df_lighter_books = df_lighter_books.drop("is_valid_date")

In [9]:
# Attempt to convert original_publication_date to a date
df_lighter_books = df_lighter_books.withColumn("converted_date", to_date(col("original_publication_date"), 'yyyy-MM-dd'))

# Filter out rows where the conversion resulted in null
df_lighter_books = df_lighter_books.filter(col("converted_date").isNotNull())

# Drop the intermediate converted_date column
df_lighter_books = df_lighter_books.drop("converted_date")

In [10]:
df_lighter_books = df_lighter_books.withColumn("title", trim(df_lighter_books.title))  # removes leading and trailing white spaces

In [11]:
# Filter for valid num_pages
df_lighter_books = df_lighter_books.filter(col('num_pages') > 0)

# Select the relevant columns
df_lighter_books = df_lighter_books.select('original_publication_date', 'num_pages', 'title')

## EDA

In [12]:
df_lighter_books.count() # count the number of rows

2390718

In [13]:
df_lighter_books.show(5) # show the first 5 rows

+-------------------------+---------+--------------------+
|original_publication_date|num_pages|               title|
+-------------------------+---------+--------------------+
|               2003-06-21|      870|Harry Potter and ...|
|               1997-06-26|      309|Harry Potter and ...|
|               1998-07-02|      352|Harry Potter and ...|
|               1999-07-08|      435|Harry Potter and ...|
|               2000-07-08|      734|Harry Potter and ...|
+-------------------------+---------+--------------------+
only showing top 5 rows

In [15]:
df_lighter_books = df_lighter_books.withColumn('year', year('original_publication_date')) # add a year column
df_lighter_books = df_lighter_books.withColumn('month', month('original_publication_date')) # add a month column

In [23]:
df_lighter_books.show(5) # show the first 5 rows

+-------------------------+---------+--------------------+----+-----+
|original_publication_date|num_pages|               title|year|month|
+-------------------------+---------+--------------------+----+-----+
|               2003-06-21|      870|Harry Potter and ...|2003|    6|
|               1997-06-26|      309|Harry Potter and ...|1997|    6|
|               1998-07-02|      352|Harry Potter and ...|1998|    7|
|               1999-07-08|      435|Harry Potter and ...|1999|    7|
|               2000-07-08|      734|Harry Potter and ...|2000|    7|
+-------------------------+---------+--------------------+----+-----+
only showing top 5 rows

In [59]:
df_lighter_books.select("year").distinct().count() # count the number of distinct years

124

In [60]:
max_year = df_lighter_books.agg(max("year")).first()[0] # find the maximum year
print(max_year)

2023

In [61]:
min_year = df_lighter_books.agg(min("year")).first()[0] # find the minimum year
print(min_year)

1900

### yearly_stats function to get yearly stats for each year in the df_lighter_books dataframe

In [39]:
def yearly_stats(year):
    # Filter books for given year
    df_year = df_lighter_books.filter(df_lighter_books['year'] == year)

    # Number of books published
    num_books = df_year.count()

    # Total number of pages
    total_pages = df_year.agg(F.sum('num_pages')).first()[0]

    # Most prolific month
    prolific_month = df_year.groupBy('month').count().orderBy(F.desc('count')).first()[0]

    # Longest book
    longest_book = df_year.orderBy(F.desc('num_pages')).first()['title']

    return (year, num_books, total_pages, prolific_month, longest_book)

In [41]:
# Get list of unique years

years = df_lighter_books.select('year').toPandas()['year'].unique().tolist()

In [42]:
years.sort() # sort the list (not necessary)

In [50]:
data_first_10 = [yearly_stats(year) for year in years[:10]] # get the yearly stats for the first 10 years

In [51]:
data_last_10 = [yearly_stats(year) for year in years[-10:]] # get the yearly stats for the last 10 years

In [52]:
data_first_10 # print the yearly stats for the first 10 years

[(1900, 1747, 509501, 1, 'Complete Works of Joseph Conrad'),
 (1901, 802, 351965, 1, 'NKJV Study Bible'),
 (1902, 882, 696460, 1, 'Holy Bible: NLT - New Living Translation'),
 (1903, 733, 183484, 1, 'The Life of William Ewart Gladstone - Vol. I'),
 (1904, 628, 162193, 1, 'The Life Recovery Bible NLT'),
 (1905, 1119, 282252, 1, 'Dictionary of the Bible'),
 (1906, 518, 145632, 1, "Moody's Magazine Vol 1 - 20"),
 (1907, 558, 137774, 1, 'Arsenio Lupin, Caballero Ladrón'),
 (1908, 430, 97105, 1, 'Anne of Green Gables--The Complete Collection'),
 (1909, 1041, 298330, 1, 'The Works of Rudyard Kipling, 10 Vols')]

In [53]:
data_last_10   # print the yearly stats for the last 10 years

[(2014,
  177582,
  42919290,
  1,
  'A Most Unlikely Countess (To Love a Wildcat, #2)'),
 (2015,
  53821,
  14013926,
  1,
  'Revel for the American Nation: A History of the United States, Combined Volume -- Access Card'),
 (2016, 2299, 708061, 1, 'Homestuck'),
 (2017, 491, 150653, 2, 'The Starfarers Quartet'),
 (2018, 192, 72498, 1, '地海六部曲'),
 (2019, 118, 34813, 8, 'Nouvelles Les'),
 (2020, 83, 27477, 1, 'The Complete Ripley Novels (Ripley, #1-5)'),
 (2021,
  17,
  8088,
  8,
  "The Navigator's Children (The Last King of Osten Ard, #3)"),
 (2022,
  4,
  1280,
  10,
  'Highland Ever After (The Montgomerys and Armstrongs, #3)'),
 (2023, 1, 463, 9, 'Apocalypse')]

In [56]:
data_first_10 = pd.DataFrame(data_first_10, columns =['year', 'num_books', 'total_pages', 'prolific_month', 'longest_book']) # convert the list to a pandas dataframe

In [57]:
data_first_10   # print the dataframe

,year,num_books,total_pages,prolific_month,longest_book
0,1900,1747,509501,1,Complete Works of Joseph Conrad
1,1901,802,351965,1,NKJV Study Bible
2,1902,882,696460,1,Holy Bible: NLT - New Living Translation
3,1903,733,183484,1,The Life of William Ewart Gladstone - Vol. I
4,1904,628,162193,1,The Life Recovery Bible NLT
5,1905,1119,282252,1,Dictionary of the Bible
6,1906,518,145632,1,Moody's Magazine Vol 1 - 20
7,1907,558,137774,1,"Arsenio Lupin, Caballero Ladrón"
8,1908,430,97105,1,Anne of Green Gables--The Complete Collection
9,1909,1041,298330,1,"The Works of Rudyard Kipling, 10 Vols"

In [54]:
data_last_10 = pd.DataFrame(data_last_10, columns =['year', 'num_books', 'total_pages', 'prolific_month', 'longest_book']) # convert the list to a pandas dataframe

In [55]:
data_last_10  # print the dataframe

,year,num_books,total_pages,prolific_month,longest_book
0,2014,177582,42919290,1,"A Most Unlikely Countess (To Love a Wildcat, #2)"
1,2015,53821,14013926,1,Revel for the American Nation: A History of th...
2,2016,2299,708061,1,Homestuck
3,2017,491,150653,2,The Starfarers Quartet
4,2018,192,72498,1,地海六部曲
5,2019,118,34813,8,Nouvelles Les
6,2020,83,27477,1,"The Complete Ripley Novels (Ripley, #1-5)"
7,2021,17,8088,8,The Navigator's Children (The Last King of Ost...
8,2022,4,1280,10,Highland Ever After (The Montgomerys and Armst...
9,2023,1,463,9,Apocalypse

In [58]:
data_first_10.to_json(r'C:\Users\ambar\OneDrive\Desktop\Notes\ADM\ADM-HW2-main\RQ3\data_first_10.json', orient='records') # save the dataframe as a json file
data_last_10.to_json(r'C:\Users\ambar\OneDrive\Desktop\Notes\ADM\ADM-HW2-main\RQ3\data_last_10.json', orient='records') # save the dataframe as a json file